#login {
    position: absolute;
    margin-top: -110px;
    margin-left: -200px;
    left: 50%;
    top: 50%;
    width: 400px;
    height: 220px;
    border-radius: 10px;
    background:#0F466E;
    background:-webkit-linear-gradient(right,#0F466E 0%,#5093C4 75%);
    background:-moz-linear-gradient(right,#0F466E 0%,#5093C4 75%);
    background:-o-linear-gradient(right,#0F466E 0%,#5093C4 75%);
    background:-ms-linear-gradient(right,#0F466E 0%,#5093C4 75%);
    }

#regis {
    position: absolute;
    margin-top: -310px;
    margin-left: -250px;
    left: 50%; 
    top: 50%;
    width: 500px;
    height: 600px;
    border-radius: 10px;
    background:#0F466E;
    background:-webkit-linear-gradient(right,#0F466E 0%,#5093C4 75%);
    background:-moz-linear-gradient(right,#0F466E 0%,#5093C4 75%);
    background:-o-linear-gradient(right,#0F466E 0%,#5093C4 75%);
    background:-ms-linear-gradient(right,#0F466E 0%,#5093C4 75%);
    }

#logo{
    width: 150px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.admin{
    margin-left: 100px;
    font-size: 20px
}